.ingredients-form{
  text-align: left;
  margin-top: 50px;
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  border: 1px solid #ccc; /* 枠線 */
  background-color: #fff; /* 背景色 */
  box-shadow: 1px 1px 2px #ccc;
}
